/*
  ========================================
  Grid
  ========================================
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html{
  position:relative;
  min-height:100%;
}

body{
  margin:0;
  padding:0;
  width:100%;
  height:100%;
}

.container{
  max-width:960px;
}

img{
  max-width:100%;
}

a{
  text-decoration: none;
}

h1{
  font-size: 1.5em;
}

/*****************************************
HEADER + Background Image
*****************************************/


#background{
/*linear-gradient(#000,transparent 70%),*/
  width:100%;
  height:100vh;
  background:
  /*linear-gradient(0deg,#000,transparent),*/
  url(/static/img/background.jpg) no-repeat center;
  background-size:cover;
  background-attachment: fixed;
}


#job-role{
  position: absolute;
  top:25%;
  left:0;
  color:#fff;
  z-index: 134;
  text-align: center;
  width:100%;
}





#job-role h3{
  font-size: 1em;
}

header{
  position: fixed;
  width:100%;
  height:70px;
  background-color:#D6D6E8;
  box-shadow: 0px 0px 5px #888;
  z-index: 2000;
}

header .wrapper{
  width:100%;
  padding:0;
  margin-top:10px;
}

#logo{
  float:left;
  margin-left:20px;
}

.icon {
  float: right;

  margin-top:25px;
  /*top:50%;
  left:50%;
  transform: translate(-50%,-50%);*/
  width:80px;
  /*height:50px;*/
  cursor:pointer;


}

.hamburger{
  /*margin-top:50px;*/
  width: 30px;
  height:3px;
  background:#000;
  cursor:pointer;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  transition: .5s;
  float:right;

}

.hamburger:before,
.hamburger:after{
  content:'';
  position:absolute;
  width:30px;
  height:3px;
  background:#000;
  box-shadow:0 2px 5px rgba(0,0,0,0.2);
  transition: .5s;


}

.hamburger:before{
  top: -10px;
}
.hamburger:after{
  top: 10px;

}


.icon.active .hamburger{
  background: rgba(0,0,0,0);
  box-shadow: 0 2px 5px rgba(0,0,0,0);
}

.icon.active .hamburger:before{
  top:0;
  transform:rotate(45deg);

}

.icon.active .hamburger:after{
  top:0;
  transform:rotate(135deg);

}



header nav ul{
  overflow: hidden;
  background:#505050;
  height:0;
  padding:0;
  margin:0;


}

header nav ul.open{
  height:auto;
  clear:both;


}

header nav ul li{
  width:100%;
  text-align: center;
  margin:0;
  float:none;

}

header nav ul li a{
  border-bottom:1px solid #404040;
  color:#fff;
  padding:10px;
  display:block;
  margin:0;
  width:100%;
}

/***************************************
Header styles for different tabs (links)
***************************************/
.title{
  text-align: center;
  margin-top:50px;
}

/***************************************
Portfolio
****************************************/

.portfolio{
  display:flex;
  flex-direction: column;
}

.port-items{
  margin-bottom:10px;
}
