<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>Mayur Pande</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/normalize.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/responsive.css') }}" />
  </head>
  <body>
    {% include 'nav.html' %}

    <main>
      {% block content %}
      {% endblock %}
    </main>

    <script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
    <script src="{{ url_for('static',filename='js/hamburger.js')}}" type="text/javascript"></script>
  </body>
</html>
