<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Mayur Pande</title>
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylsheet" href="css/main.css" />
  </head>
  <body>
    <header>
      <div id="logo">
        <p>Mayur Pande</p>
      </div>
      <nav>
        <p>Portfolio</p>
        <p>About</p>
        <p>Contact</p>
      </nav>
    </header>
    <div id="background-image"></div>
    <section>
      <header>
        <h1>Portfolio</h1>
      </header>
      <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </section>
  </body>
</html>
