
  <header>

    <div class="container">
    <div class="wrapper">

      <div id="logo">
        <h1><a href="{{ url_for('main') }}">Mayur Pande</a></h1>
      </div>
      <nav>
        <div class="icon">
          <div class="hamburger"></div>
        </div>

        <ul>
          <li><a href='#portfolio' class="navbtn">Portfolio</a></li>
          <li><a href='#about' class="navbtn">About</a></li>
          <li><a href="#contact" class="navbtn">Contact</a></li>
        </ul>
      </nav>

    </div>
    <div class="container">

  </header>
</div>
