{% extends 'index.html' %}

{% block content %}

<section>
  <div id="background"></div>
  <div id="job-role">
    <h1>(Wannabe) Developer</h1>
    <h3>Coding one day at a time</h3>
  </div>
</section>

<section>

    <div class="title">
      <h1>Portfolio</h1>
    </div>

    <div class="portfolio">
      {% for x in data %}
        <div class="port-items">
          <a href='{{ url_for('portfolio',title=x.port_title) }}'>
            <img src="/static/img/{{ x.port_img }}" alt="{{ x.port_title }}" />
            <p>{{ x.port_title }}</p>
          </a>
        </div>

      {% endfor %}
    </div>




</section>









{% endblock %}
